* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-links-header: #1f47f7;
    --color-background-header: #630344;
    --color-background-footer: #202a3dfa;
}

#logo {
    width: 100px;
    height: 100px;
}

.bg-color-header {
    background-color: var(--color-background-header);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background-header);
    flex-wrap: wrap;
    text-align: center;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 15px;
    white-space: nowrap;
}

.hide {
    display: none;
}

#logout {
    background-color: transparent;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    padding: 15px;
    white-space: nowrap;
}

#logout:hover {
    color: var(--color-links-header);
    text-decoration: underline;
    cursor: pointer;
}

#menu a:hover {
    color: var(--color-links-header);
    text-decoration: underline;
}

/* .menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: white;
}

#mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: var(--color-background-header);
    padding: 1em;
    z-index: 1000;
}

#mobile-menu a {
    color: white;
    padding: 1em;
    text-decoration: none;
}

#mobile-menu a:hover {
    background: #3700b3;
}

.menu-open #mobile-menu {
    display: flex;
} */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background-footer);
    padding: 0 20px 20px;
    margin-top: 60px;
    margin-bottom: 0;
}

footer p {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

@media screen and (min-width: 768px) {
    #logo {
        width: 100px;
        height: 100px;
    }

    #menu {
        flex-direction: row !important;
        justify-content: flex-end;
    }

    #menu a, #logout {
        padding: 15px;
    }
}

@media screen and (max-width: 767.98px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    #logo {
        margin: -10px -5px -6px -1px;
        width: 70px;
        height: 70px;
    }

    #menu {
        flex-direction: row !important;
        justify-content: center;
        width: 100%;
        flex-wrap: nowrap;
        margin-bottom: -3px;
        margin-top: 2px;
    }

    #menu a, #logout {
        padding: 8px;
        flex: 1;
        text-align: center;
        white-space: nowrap;
        margin: 0;
    }

    .d-flex {
        flex-wrap: wrap;
        margin-bottom: -7px;
    }

    .admin {
        position: absolute;
        top: 0;
        right: 15px;
        padding-top: 15px !important;
        text-align: right;
    }

    .logout-home {
        margin-top: -10px !important;
    }
}

/* @media screen and (max-width: 767.98px) {
    #logo {
        width: 70px;
        height: 70px;
    }

    .menu-desktop {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    #mobile-menu {
        display: none;
    }

    .menu-open #mobile-menu {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    #mobile-menu {
        display: none;
    }

    .menu-desktop {
        display: flex;
    }

    .menu-toggle {
        display: none;
    }
} */