*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

main {
   width: 100%;
}

.pesquisar {
   display: flex; 
   position: relative;
   margin: 20px;
   align-items: center;
   justify-content: space-between;
}

.pesquisar #cursos {
   flex-grow: 1;
   padding-right: 50px;
}

.pesquisar input[type="text"] {
   padding: 15px;
   width: 700px; 
   border-radius: 4px;
   border: none;
}

.pesquisar button {
   position: absolute;
   right: 430px;
   top: 10;
   border: none;
   background: none;
   cursor: pointer;
}

.pesquisar img {
   width: 24px;
   height: 24px;
}


.pesquisar select {
   padding: 10px;
   border: none;
   border-radius: 5px;
   background-color: #f0f0f0;
   color: #333;
   font-size: 16px;
   outline: none;
   margin-left: 10px;  
   width: 200px;
}

.pesquisar select option {
   padding: 10px;
}

@media screen and (max-width: 768px) {
   .pesquisar {
      display: flex;
      flex-direction: column;
   }

   .pesquisar input[type="text"] {
      width: 400px;
      margin: 0 20px;
   }

   .pesquisar div {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
   }
}