* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(90deg, #82aadacb, #d9d9d9, #82aadacb );
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-texto1: red;
    --color-texto2: #0e2119;
    --color-texto3: purple;
    --color-texto4: blueviolet;
}

.apresentacao {
    display: flex;
    align-items: center;
    margin: 0 30px 80px 30px;
}

.apresentacao img  {
    width: 300px;
    height: 300px;
    margin-right: 20px;
}


.valores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 80px 30px;
    flex-wrap: wrap;
}

.valores div {
    margin-right: 10px;
}

.valores-texto1 {
    background-color: var(--color-texto1);
}

.valores-texto2 {
    background-color: var(--color-texto2);
}

.valores-texto3 {
    background-color: var(--color-texto3);
}

.valores-texto4 {
    background-color: var(--color-texto4);
}

.valores h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 4px;
}

.imagem-valores {
    width: 110px;
    height: 110px;
    margin-bottom: 0px;
}

.texto {
    margin: 100px 30px;
}

.texto p {
    margin: 40px 0;
}

@media screen and (max-width: 730px) {
    .apresentacao {
        display: flex;
        flex-direction: column;
        align-items: center;        
    }

    .apresentacao img {
        width: 250px;
        height: 250px;
        margin-bottom: 35px;
    }

    .valores div {
        margin-bottom: 30px;
    }

    .texto  {
        margin-top: 0;
    }

}






