* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-links-header: #1f47f7;
    --color-background-header: #630344;
    --color-background-footer: #202a3dfa;
}

#logo {
    width: 100px;
    height: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background-header);
    margin-bottom: 60px;
    flex-wrap: wrap;
}

#menu a {
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.hide {
    display: none;
}

#logout {
    background-color: transparent;
    border: none;
    padding: 20px;
    color: black;
    font-weight: bold;
    font-size: 1rem;
}

#logout:hover {
    color: var(--color-links-header);
    text-decoration: underline;
    cursor: pointer;
}

#menu a:hover {
    color: var(--color-links-header);
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background-footer);
    padding: 0 20px 20px;
    margin-top: 60px;
    margin-bottom: 0;
}   

footer p {
    font-size: 1.5rem;
    font-weight: bold;
}

@media screen and (max-width: 730px) {
    #logo {
        width: 70px;
        height: 70px;
    }
    .menu a {
        padding: 20px 5px;
    }
}