* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-links-header: #1f47f7;
    --color-background-header: #82a9da;
    --color-background-footer: #F0CBA8;
}

#logo {
    width: 50px;
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background-header);
    margin-bottom: 60px;
    flex-wrap: wrap;
}

#menu a {
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#menu a:hover {
    color: var(--color-links-header);
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background-footer);
    padding: 0 20px 20px;
    margin-top: 60px;
}

footer p {
    font-size: 1.5rem;
    font-weight: bold;
}
